@import 'fonts';
.container{
    width: 1380px;
    margin: 0 auto;
}
.cont{
    width: 1420px;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    cursor: pointer;
}
p, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    margin: 0;
    padding: 0;
}
header{
    .header-top{
        padding-top: 31px;
        padding-bottom: 27px;
        .container{
            display: flex;
            align-items: center;
        }
        img{
            margin-right: 221.5px;
        }
        ul{
            display: flex;
            margin-right: 163.5px;
            gap: 50px;
            li{
                a{
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    color: #1e1e1e;
                }
            }
        }
        button{
            display: flex;
            align-items: center;
            border-radius: 5px;
            background: #061b3a;
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
            padding: 17px;
            img{
                margin-right: 14px;
            }
        }
    }
    .header-banner{
        background: linear-gradient(180deg, #b3d2ff 0%, #a7cbff 100%);
        padding-top: 141px;
        padding-bottom: 120px;
        .text{
            h1{
                font-family: "Noto Sans", sans-serif;
                font-weight: 900;
                font-size: 64px;
                text-transform: uppercase;
                color: #1e1e1e;
                max-width: 1006px;
                margin-bottom: 44px;
            }
            p{
                font-family: "Noto Sans", sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: #1e1e1e;
                max-width: 644px;
                margin-bottom: 64px;
            }
            ul{
                li{
                    display: flex;
                    align-items: center;
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #1e1e1e;
                    margin-bottom: 30px;
                    img{
                        margin-right: 10px;
                    }
                }
                li:last-child{
                    margin-bottom: 85px;
                }
            }
            button{
                display: flex;
                align-items: center;
                padding: 20px 28px 18px 22px;
                border-radius: 5px;
                background: #fff;
                font-family: "Noto Sans", sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: #061b3a;
                img{
                    margin-left: 26px;
                }
            }
        }
    }
}
.naim{
    padding-top: 128px;
    padding-bottom: 73px;
    .naim-z{
        h2{
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 40px;
            color: #000;
            margin-bottom: 115px;
        }
    }
    .n-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .n-card{
            transition: 0.5s;
            cursor: pointer;
            margin-bottom: 31px;
            padding: 36px 30px 54px 30px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
            background: #fff;
            border-radius: 20px;
            h3{
                font-family: "Noto Sans", sans-serif;
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 0.1em;
                color: #061b3a;
                margin-bottom: 45px;
            }
            ul{
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 29px;
                    svg{
                        margin-right: 14.88px;
                    }
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: #000;
                }
                li::marker{
                    content: url('img/svg/gal.svg');
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .n-card:hover{
            transition: 0.5s;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
            background: #061b3a;
            h3{
                color: #fff;
            }
            ul{
                li{
                    rect{
                        fill:#fff;
                    }
                    color: #fff;
                }
            }
        }
    }
}
.client{
    margin-bottom: 86px;
    h2{
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: #000;
        margin-bottom: 35px;
    }
    p{
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: #000;
        opacity: 0.4;
        line-height: 33px;
        max-width: 723px;
        margin-bottom: 102px;
    }
    .spisok{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img:nth-child(5){
            padding-left: 170px;
        }
        img:last-child{
            padding-right: 155px;
        }
        img{
            transition: 0.5s;
            opacity: 0.4;
        }
        img:hover{
            transition: 0.5s;
            opacity: 1;
        }
    }

}
.vibor{
    background-color: #f0f9ff;
    padding-top: 101px;
    padding-bottom: 93px;
}
.vibori{
    h2{
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: #000;    
        margin-bottom: 35px; 
    }
    p{
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: #000;
        opacity: 0.4;
        max-width: 740px;
        line-height: 33px;
        margin-bottom: 140px;
    }
    .v-cards{
        display: flex;
        justify-content: space-between;
        .v-card{
            background-color: #fff;
            padding: 44px 65px 53px 45px;
            border-radius: 20px;
            border-left: #ff2424 solid 8px;
            h3{
                font-family: "Noto Sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: #061b3a;
                line-height: 33px;
                max-width: 269px;
                margin-bottom: 48px;
            }
            p{
                font-family: "Noto Sans", sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #000;
                max-width: 340px;
                line-height: 22px;
                margin-bottom: 0;
            }
        }
    }
}
.rule{
    display: flex;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 196px;
        margin-top: 196px;
    .dark{
        background: #061b3a;
        padding: 85px 148px 78px 98px;
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
        h2{
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 40px;
            color: #fff;
            line-height: 54px;
            max-width: 621px;
            margin-bottom: 30px;
        }
        p{
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: #fff;
            opacity: 0.4;
            line-height: 27px;
            max-width: 407px;
            margin-bottom: 80px;
        }
        button{
            border-radius: 5px;
            background: #fff;
            padding: 22px 20px 23px 22px;
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            font-size: 16px;
            text-transform: lowercase;
            color: #061b3a;
            img{
                margin-left: 7px;
            }
        }
    }
    .white{
        position: relative;
        padding: 85px 98px 284px 48px;
        p{
            font-family: "Onest", sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: #061b3a;
            line-height: 31px;
            max-width: 381px;
        }
        .wh-decor{
            position: absolute;
            bottom: 80px;
            left: 85px;
        }
    }
}
.special-cards{
    display: flex;
    .special-card{

    }
}
footer{
    padding-top: 226px;
    padding-bottom: 200px;
    .fot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .fot-info{
            h3{
                font-family: "Noto Sans", sans-serif;
                font-weight: 600;
                font-size: 40px;
                color: #000;
                max-width: 504px;
                margin-bottom: 63px;
                line-height: 54px;
            }
            p{
                font-family: "Noto Sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: #000;
                opacity: 0.4;
                line-height: 33px;
                max-width: 534px;
            }
        }
        .fot-input{
            padding: 49px 48px 41px 49px;
            background: #061b3a;
            border-radius: 15px;
            h2{
                font-family: "Noto Sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: #fff;
                margin-bottom: 47px;
            }
            .fot-inputs{
                display: flex;
                margin-bottom: 29px;
                input::placeholder{
                    opacity: 0.4;
                }
                .name{
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    color: #000;
                    padding: 27px 88px 27px 23px;
                    border: 1px solid #000;
                    border-radius: 5px;
                    background: #fff;
                    margin-right: 18px;
                }
                .number{
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    color: #000; 
                    padding: 27px 71px 27px 23px;
                    border: 1px solid #000;
                    border-radius: 5px;
                    background: #fff;                
                }
                input[type="number"]::-webkit-inner-spin-button, 
                input[type="number"]::-webkit-outer-spin-button { 
                -webkit-appearance: none; 
                margin: 0; 
                }
            }
            button{
                font-family: "Noto Sans", sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 5px;
                background: transparent;
                padding: 27px 28px 27px 23px;
                svg{
                    margin-left: 22px;
                }
            }
        }
    }
    
}